.display-wrapper {
	padding: 3rem;
	display: grid;
	max-width: 80%;
	justify-content: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: rgb(196, 196, 196);
	border-radius: 10px;
}

.page-wrapper {
	margin: 3rem;
}

body {
	color: rgb(29, 29, 29);
	background-color: rgb(255, 255, 255);
}